<section id="about">
  <h2>About</h2>
  <p>
    Working with Shopify since 2009, I help brands create faster, more
    accessible, and scalable e-commerce experiences, combining deep
    technical skills with a strong focus on Web Performance and A11y best
    practices.
  </p>
  <p>When I'm not coding, I like making expresso and playing Tennis.</p>
  <div class="link"><span>+ </span><a href="#">Know more</a></div>
</section>
