<div class="cards">
  {% render 'card' %}
  <!--
  <div class="card" data-project="terracotta">
    <div class="card-internal">
      <h3>Frontend</h3>
      <h4>Google Analitics</h4>
      <h4>Remix</h4>
      <h4>Next.js | TypeScript</h4>
      <h4>A11y | SEO</h4>
    </div>
    <div class="link">
      <span>+ </span><span class="underline">Know more</span>
    </div>
  </div>
  <div class="card" data-project="pedro">
    <div class="card-internal">
      <h3>Performance</h3>
      <h4>Image optmization</h4>
      <h4>Core Web Vitals</h4>
    </div>
    <div class="link">
      <span>+ </span><span class="underline">Know more</span>
    </div>
  </div>
  -->
</div>
