{%- comment -%} Before release, remove these | include in project {%- endcomment -%}
{%- comment %} theme-check-disable UndefinedObject {%- endcomment -%}
<div class="cards">
  <div class="swiper js-cards">
    <div class="swiper-wrapper">
      {% for card in cards %}
        <div class="swiper-slide">
          <div class="card">
            <div class="card-internal">
              <div class="card-content">
                {% for item in card.items %}
                  <h4>{{ item }}</h4>
                {% endfor %}
              </div>
              <div class="link">
                <span>+ </span><span class="underline">Know more</span>
              </div>
            </div>
            <div class="label"><h3>{{ card.label }}</h3></div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
