<div class="card">
  <div class="card-internal">
    <div class="card-content">
      <h4>Theme Development</h4>
      <h4>Theme Customization</h4>
      <h4>App Development</h4>
      <h4>Hydrogen | Headless</h4>
    </div>
    <div class="link">
      <span>+ </span><span class="underline">Know more</span>
    </div>
  </div>
  <div class="label"><h3>Shopify Ecosystem</h3></div>
</div>
