<section id="projects">
  <h2>Projects</h2>
  <div class="cards">
    <div class="card" data-project="decathlon">
      <div class="card-content">
        <h3>Decathlon</h3>
        <h4>Shopify Development</h4>
      </div>
      <div class="link">
        <span>+ </span><span class="underline">Know more</span>
      </div>
    </div>
    <div class="card" data-project="terracotta">
      <div class="card-content">
        <h3>TerraCotta Arte Sacra</h3>
        <h4>Theme Development</h4>
        <h4>Full Stack System Development</h4>
      </div>
      <div class="link">
        <span>+ </span><span class="underline">Know more</span>
      </div>
    </div>
    <div class="card" data-project="pedro">
      <div class="card-content">
        <h3>Pedro H Valladao</h3>
        <h4>Composer Portfolio</h4>
        <h4>Next.js | TypeScript | Sanity.io</h4>
      </div>
      <div class="link">
        <span>+ </span><span class="underline">Know more</span>
      </div>
    </div>
  </div>
</section>
