<section id="skills">
  <h2>Skills</h2>
  <div class="cards">
    <div class="card">
      <div class="card-internal">
        <div class="card-content">
          <h4>Theme Development</h4>
          <h4>Theme Customization</h4>
          <h4>App Development</h4>
          <h4>Hydrogen | Headless</h4>
        </div>
        <div class="link">
          <span>+ </span><span class="underline">Know more</span>
        </div>
      </div>
      <div class="label"><h3>Shopify Ecosystem</h3></div>
    </div>
    <!--
    <div class="card" data-project="terracotta">
      <div class="card-internal">
        <h3>Frontend</h3>
        <h4>Google Analitics</h4>
        <h4>Remix</h4>
        <h4>Next.js | TypeScript</h4>
        <h4>A11y | SEO</h4>
      </div>
      <div class="link">
        <span>+ </span><span class="underline">Know more</span>
      </div>
    </div>
    <div class="card" data-project="pedro">
      <div class="card-internal">
        <h3>Performance</h3>
        <h4>Image optmization</h4>
        <h4>Core Web Vitals</h4>
      </div>
      <div class="link">
        <span>+ </span><span class="underline">Know more</span>
      </div>
    </div>
    -->
  </div>
</section>
