/*
  CSS STYLES RESET
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  GLOBAL CSS STYLES
*/

:root {
  --font-heading: "Audiowide", sans-serif;
  --font-body: "Inter", sans-serif;
  --black: #0a0a0a;
  --white: #e5e5e5;
  --accent: #00ffe0;
}

body {
  font-family: var(--font-body);
  color: var(--white);
  background-color: var(--black);
}

/*
#background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("../assets/backgrounds/bg-default.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--black);
}
*/

h1,
h2,
h3 {
  font-family: var(--font-heading);
  margin-bottom: 16px;
  line-height: 1.2;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
  color: var(--accent);
  margin-bottom: 24px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

a {
  color: var(--accent);
}

main {
  width: 912px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  backdrop-filter: blur(10px);
  padding: 32px;
  /*border: 1px solid var(--white);*/
}

#hero {
  padding-top: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.icons {
  display: flex;
  gap: 8px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 16px;
  padding: 24px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  transition: background-color 0.3s ease;
  height: 280px;
}

.card-content {
  flex-grow: 1;
}

.card-content {
  margin-bottom: 16px;
}

.card:last-child {
  align-self: flex-start;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/*
  BACKGROUND ANIMATION
*/

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    #1e1e1e 3%,
    /* fundo padrão VSCode */ #252526 38%,
    /* lateral escura */ #003f5c 68%,
    /* azul-marinho técnico */ #3c3c3c 98%
      /* cinza VSCode para suavizar o fim */
  );
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
